/* Tailwind Core */
@import 'tailwindcss';

/* ReUI Configs */
@import './config.reui.css';

/** Global Styles **/
@layer base {
  /* Font Configuration */
  :root {
    --font-english: 'Bpmf Huninn', sans-serif;
    --font-arabic: 'Zain', sans-serif;
  }

  /* Apply Bpmf Huninn for English (LTR) */
  html[dir='ltr'] {
    font-family: var(--font-english);
  }

  /* Apply Zain for Arabic (RTL) */
  html[dir='rtl'] {
    font-family: var(--font-arabic);
  }

  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/* Metronic Components  */
@import './components/image-input.css';
@import './components/apexcharts.css';
@import './components/leaflet.css';
@import './components/rating.css';
@import './components/image-input.css';
@import './components/scrollable.css';

/* Demos */
@import './demos/demo1.css';

/** Dark/Light Theme Variant **/
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:not(.dark *));
